doctype html
html
  head
    title Mall API
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    style.
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f9;
        color: #333;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      .container {
        text-align: center;
        background: #fff;
        padding: 20px 40px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
      h1 {
        font-size: 2.5em;
        margin-bottom: 20px;
        color: #2c3e50;
      }
      p {
        font-size: 1.2em;
        margin-bottom: 15px;
      }
      a {
        color: #3498db;
        text-decoration: none;
        font-weight: bold;
      }
      a:hover {
        text-decoration: underline;
      }
  body
  .container
    h1 Mall API
    p Welcome to the Mall API project.
    p This is a project that I have to make for the second bachelors in Applied Computers Science in VIVES Hogeschool for the course Node.js Development.
    p This project is made with the help of Node.js, MongoDB, and Express.js.
    p You are now currently in #{environment} mode.
    p You can find the source code of this project on 
        a(href='https://github.com/VivesMDima/ti-eind-assignment-2324-project-fehis2002') GitHub


    p If you want to check for the documentation of the API, you can go to 
      a(href=`http://${host}/api-docs`) this link

